
.topBar {
    top: 0%;
    height: 80px;
    z-index: 1;
    background-color: rgb(15, 15, 15);
  .wrapper {
    padding: 0px 30px;
    display: flex;
    align-items: center;

    .left {
        display: flex;
        .logo {
            margin-left: 200px;
            font-size: 35px;
            font-weight: 700;
            color: white;
            margin-right: 40px;
        }
        .linkedIniconContainer{
            .linkedInIcon{
                width: 30px;
                padding-top: 20px;
                margin-right: 40px;
            }
        }
        .githubIconWrapper{
            .githubIcon{
                width: 30px;
                padding-top: 20px;
            }
        }
    }

    .right {
        margin-left: 450px;
        display: flex;
        justify-content: space-evenly;
        
        .navTabs{
            :link
            {
                color: white;
            }
            :visited
            {
                color:white;
                font-style:oblique;
            }
            :active
            {
                color: wheat;
                font-style:italic;
            }
            :hover{
                color: white;
                font-size: 115%;
            }
            > *{
                color: white;
            }
        }
    }
  }
}